.doctor-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.doctor-card__image {
  width: 270px;
  height: 270px;
  position: relative;
  border-radius: 5px;
}
.doctor-card__image::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #99cb00;
}
.doctor-card__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.doctor-card__image > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.doctor-card__image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.doctor-card__info {
  width: calc(100% - 320px);
}
.doctor-card__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #eaeaea;
}
.doctor-name {
  margin: 0;
}
.doctor-name span {
  display: block;
}
.doctor-name span:last-child {
  font-size: 14px;
  color: #999;
  font-weight: 300;
  margin-top: 5px;
}
.doctor-card_header_actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
.doctor-card_header_actions svg {
  font-size: 20px;
  color: #3492db;
  width: 25px;
  padding: 8px 6px;
  border: 1px solid #3492db;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.doctor-card_header_actions svg:hover {
  cursor: pointer;
  border-color: #3492db;
  background-color: #3492db;
  color: #fff;
}
.doctor-card__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.doctor-card__body > div {
  width: 50%;
}
.doctor-card__body p {
  margin: 10px 0;
}
.doctor-card__body p:first-child {
  font-weight: bold;
  background: #f5f5f5f5;
  display: inline-block;
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 14px;
  color: #3492db;
  font-size: 15px;
}
@media (max-width: 768px) {
  .doctor-card,
  .doctor-card__header,
  .doctor-card__body {
    flex-direction: column;
  }
  .doctor-card__image,
  .doctor-card__info {
    width: 100%;
    height: auto;
  }
  .doctor-card__body > div {
    width: 100%;
  }
  .doctor-card__header .doctor-card_header_actions {
    margin-top: 10px;

    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .doctor-name span {
    margin: 10px 0;
    font-size: 18px;
  }
  .doctor-name {
    margin: 10px 0 0;
  }
}
